
<style type="text/css">

  body {
    background-image: url(https://images.pexels.com/photos/1764702/pexels-photo-1764702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }
  #layout {
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



</style>




<div style="text-align: center;", id = "layout"/>
<h1> Edit your new profile! </h1>

<%= form_for @user do |f| %>
    Enter your screen name: <%= f.text_field :user_name %><br><br>
    Your bio: <%= f.text_area :bio %><br><br>
    Status: <%= f.text_field :status %><br><br>
    Location: <%= f.text_field :location %><br><br>
    Email: <%= f.text_field :email %><br><br>
    <%= f.submit %><br><br>
<% end %> 
</div>