

<style type="text/css">

  body {
    background-image: url(http://eskipaper.com/images/free-background-4.jpg);
  }

	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>



<div style="text-align: center;"/>
<h1> Create your new profile! </h1>

<%= form_for @user do |f| %>
    Enter your screen name: <%= f.text_field :user_name %><br><br>
    Your bio: <%= f.text_area :bio %><br><br>
    Status: <%= f.text_field :status %><br><br>
    Location: <%= f.text_field :location %><br><br>
    Email: <%= f.text_field :email %><br><br>
    Password: <%= f.password_field :password %><br><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br><br>

    <%= f.submit %><br><br>
<% end %> 
</div>