<h1><%= "Welcome to #{@user.user_name}'s page. "%></h1>
<h3><%= @user.bio %></h3>
<h3><%= @user.user_name %></h3>
<h3><%= @user.location %></h3>

<ul>
    <% @user.posts.each do |post| %>
        <li><%= "#{post.title} - #{post.content}" %></li>
    <% end %>
</ul>