
<style type="text/css">

	body {
		background-image: url(https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}

	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>




<div style="text-align: center;"/>
<%= form_for @post do |p| %>
	Edit Post Title: <%= p.text_field :title %></br>
	Edit Content: <%= p.text_area :content %></br>
	Edit categories! <%= p.collection_check_boxes(:category_ids, @categories, :id, :name)%></br>
	<%= p.submit "Edit Post" %>
<% end %>
</div>