
<style type="text/css">

	body {
		background-image: url(https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}


</style>




<div style="text-align: center;"/>
<%= form_for @post do |p| %>
	Edit Post Title: <%= p.text_field :title %></br>
	Edit Content: <%= p.text_area :content %></br>
	Edit categories! <%= p.collection_check_boxes(:category_ids, @categories, :id, :name)%></br>
	<%= p.submit "Edit Post" %>
<% end %>
</div>