
<style type="text/css">

	body {
	}

		#video-background {
/*  making the video fullscreen  */
  		position: fixed;
  		right: 0; 
  		bottom: 0;
  		min-width: 100%; 
  		min-height: 100%;
  		width: auto; 
  		height: auto;
  		z-index: -100;
	}

	#layout {
		font-style: italic;
    	color: black;
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

	}
	


</style>

<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://app.coverr.co/s3/mp4/The-Pelicans.mp4" type="video/mp4">
</video>


<div style="text-align: center;" id="layout"/>
<h1> New Post </h1>
<%= form_for @post do |p| %>
	Post Title: <%= p.text_field :title %></br><br>
	Content: <%= p.text_area :content %></br><br>
	Select your post's categories! <%= p.collection_check_boxes(:category_ids, @categories, :id, :name)%></br><br>
	<%= p.submit "Create Post" %>
<% end %>
</div>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


