
<style type="text/css">

	body {
		background-image: url(https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}
	


</style>



<div style="text-align: center;"/>
<h1> New Post </h1>
<%= form_for @post do |p| %>
	Post Title: <%= p.text_field :title %></br><br>
	Content: <%= p.text_area :content %></br><br>
	Select your post's categories! <%= p.collection_check_boxes(:category_ids, @categories, :id, :name)%></br><br>
	<%= p.submit "Create Post" %>
<% end %>
</div>
