
<style type="text/css">
	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>



<div style="text-align: center;"/>
<h1> New Post </h1>
<%= form_for @post do |p| %>
	Post Title: <%= p.text_field :title %></br><br>
	Content: <%= p.text_area :content %></br><br>
	Select your post's categories! <%= p.collection_check_boxes(:category_ids, @categories, :id, :name)%></br><br>
	<%= p.submit "Create Post" %>
<% end %>
</div>
