
<style type="text/css">

	body {
		background-image: url(https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		opacity: ; 
	}


	
	#home {
		text-align: center;
		opacity: 1;
	}
	


</style>



<div id="home"/>
<h1><%= @post.title%></h1>
<h3>Created by: <%= @post.user.user_name %></h3>
<p><%= @post.content %></p>
</div>

<div style="text-align: center;"/>
<h4> Create a comment! </h4>
<%= form_for(@reply, url: replies_new_path) do |f| %>
	<%= f.hidden_field :post_id, :value => @post.id %>
	<%= f.text_field :content %><br>
	<%= f.submit  %><br><br><br>
<% end %>

<div style="text-align: center;"/>
<h4> Comments: </h4>
<ul>
<% @post.replies.each do |reply| %>
	<%= reply.content %>
<% end %>
</ul>
</div>
</div>

