
<style type="text/css">

	body {
		background-image: url(http://eskipaper.com/images/free-background-4.jpg);
	}


	
	#home {
		text-align: center;
	}
	
	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid grey;
  		padding: 25px;
  		margin: 25px;
	}

</style>



<div id="home"/>
<h1><%= @post.title%></h1>
<h3>Created by: <%= @post.user.user_name %></h3>
<p><%= @post.content %></p>
</div>

<div style="text-align: center;"/>
<h4> Create a comment! </h4>
<%= form_for(@reply, url: replies_new_path) do |f| %>
	<%= f.hidden_field :post_id, :value => @post.id %>
	<%= f.text_field :content %><br>
	<%= f.submit  %>
<% end %>

<div style="text-align: center;"/>
<h4> Comments </h4>
<ul>
<% @post.replies.each do |reply| %>
	<li><%= reply.content %></li>
<% end %>
</ul>
</div>
</div>

