<!DOCTYPE html>
<html>
  <head>
    <title>TalkAboutIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <p><%= button_to 'Logout', '/signin?', method: :delete %></p>
  <p><%= button_to 'My Page', "/users/#{session[:current_user_id]}", method: :get %></p>
  <p><%= button_to 'Welcome', "/", method: :get %></p>
  <p><%= button_to 'TalkAboutIt Board', "/posts", method: :get %></p>
  <p><%= button_to 'New Post', "/posts/new", method: :get %></p>

  <body>
    <%= yield %>
  </body>
</html>
